#!/usr/bin/env bash

cat << 'EOF' > /etc/consul.d/server_node_1_config.json
{
 "bind_addr": "0.0.0.0",
 "datacenter": "${datacenter}",
 "data_dir": "/opt/consul",
 "log_level": "INFO",
 "enable_syslog": true,
 "enable_debug": true,
 "node_name": "${datacenter}-consul-server-${instance_number}",
 "server": true,
 "client_addr": "0.0.0.0",
 "bootstrap_expect": 1,
 "rejoin_after_leave": true,
 "ui": true,
 "retry_join_wan": ["provider=aws tag_key=Name tag_value=consul-server access_key_id=${auto_join_key_id} secret_access_key=${auto_join_secret_key}"],
 "retry_join": ["provider=aws tag_key=lan_name tag_value=consul-server-${datacenter} access_key_id=${auto_join_key_id} secret_access_key=${auto_join_secret_key}"]
}
EOF

# "retry_join": [
#    "172.20.20.12","172.20.20.13"
#    ],

# Cannot auth with AWS if time is not set correctly for auto-join
sudo timedatectl set-timezone "Europe/Sofia"
sudo timedatectl set-ntp true
sudo systemctl restart systemd-timesyncd.service
wait 2
sudo systemctl stop consul

# Consul should own its configuration files
chown --recursive consul:consul /etc/consul.d

# Starting consul
sudo systemctl start consul
